/* VARIABLES */
:root {
  --primary: rgb(136, 11, 11);
  --secondary: rgb(233, 132, 16);
  --secondary-rgb: 233, 132, 16;
  --red: rgb(255, 62, 62);
  --red-rgb: 255, 62, 62;
  --white: #fff;
  --light-grey: #f5f5f5;
  --grey: #9b9b9b;
  --dark-grey: #666;
  --black: #000;
}

/* FONT */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NAVBAR */
header {
  position: relative;
  z-index: 5;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.4em;
  background-color: var(--white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

li:hover i {
  color: var(--primary);
}

nav li a {
  color: var(--black);
  padding: 14px 16px;
}

.dropdown {
  position: relative;
  margin-right: 0.5em;
  height: 100%;
  z-index: 10;
}

.dropdownBtn {
  height: 100%;
  font-size: 1em;
  border: none;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

.dropdownBtn:hover {
  color: var(--primary);
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0px;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdownBtn {
  color: var(--primary);
}

.dropdownContent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdownContent button {
  padding: 12px 16px;
  width: 100%;
  border: none;
  background-color: var(--white);
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 1em;
  display: block;
  text-align: center;
  cursor: pointer;
}

.dropdownContent a:hover,
.dropdownContent button:hover {
  background-color: var(--light-grey);
  color: var(--primary);
}

.dropdown:hover .dropdownContent {
  display: block;
}

/* POSTS FEED */
.loader {
  margin: auto;
  margin-top: 100px;
  border: 8px solid var(--grey);
  border-radius: 50%;
  border-top: 8px solid var(--primary);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.5s cubic-bezier(0.31, 0.16, 0.39, 0.95) infinite;
  animation: spin 1.5s cubic-bezier(0.31, 0.16, 0.39, 0.95) infinite;
}

.post {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  transition: left ease 0.25s;
  max-width: 1000px;
  min-width: 175px;
  padding: 0 0.5em;
  margin: 0 auto 1em auto;
  border-radius: 15px;
  background-color: var(--light-grey);
}

.post:hover {
  left: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.posts {
  margin: auto;
  margin-top: 80px;
  max-width: 1000px;
}

.post a {
  margin: 1em 0;
}

.commentLink:link {
  flex-grow: 1;
  text-decoration: none;
  color: var(--primary);
}

.commentLink:visited {
  color: var(--grey);
}

.commentLink:hover {
  color: var(--secondary);
}

.postContents {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.postTitle {
  margin: 0;
  font-size: 1.4em;
}

.postAuthor {
  margin: 0;
  font-size: 0.8em;
  font-weight: lighter;
  color: var(--black);
}

.postComments {
  margin: 4px 0;
  font-size: 0.8em;
  color: var(--black);
}

.postDate {
  font-size: 0.65em;
}

.postLikes {
  display: flex;
  padding: 0.25em;
  align-items: center;
  justify-content: center;
  height: 72px;
  min-width: 72px;
  border-radius: 50%;
  border: 1px solid transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.postLikes:hover {
  background-color: rgba(var(--secondary-rgb), 0.1);
  border: 1px solid rgba(var(--secondary-rgb), 0.5);
}

.postLikes:hover .emptyHeart {
  stroke: var(--secondary);
}

text,
.postLikes path {
  transition: fill 0.5s ease;
}

.fullHeart {
  fill: var(--secondary);
}

.emptyHeart {
  fill: transparent;
  stroke: var(--grey);
  stroke-width: 2px;
}

.newPostButton {
  font-family: Arial;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 60px;
  font-weight: bold;
  border: 2px solid var(--secondary);
  background-color: var(--white);
  color: var(--primary);
  position: fixed;
  bottom: 0.75em;
  right: calc((100vw - 950px) / 2);
  transition: bottom 0.3s;
  cursor: pointer;
}

.newPostButton:hover {
  bottom: 1em;
  background-color: var(--primary);
  color: var(--white);
}

@media only screen and (max-width: 1090px) {
  .posts {
    margin: 80px 1em 0 1em;
  }

  .newPostButton {
    right: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .postLikes {
    margin-right: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* POST PAGE */
.postContainer {
  max-width: 1000px;
  min-width: 175px;
}

.content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 1em;
  background-color: var(--light-grey);
  border-radius: 15px;
}

.contentPost {
  flex-grow: 1;
  padding-left: 0.5em;
}

.contentPost h3 {
  margin: 0;
  line-height: 1;
  color: var(--primary);
}

.likes {
  width: 70px;
  flex-shrink: 1;
}

.authorTime :is(h5, p) {
  display: inline;
  padding-right: 0.5em;
}

.authorTime p {
  font-size: 0.65em;
}

.bodyText {
  margin: 0.25em 0;
}

.noComments {
  color: var(--black);
  text-align: center;
  background-color: var(--light-grey);
  padding: 1em;
  border-radius: 15px;
}

.replyButton {
  display: block;
  margin: 0;
}

.reply {
  background-color: var(--light-grey);
  color: var(--black);
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 15px;
}

.commentBox {
  display: block;
  box-sizing: border-box;
  background-color: var(--primary);
  border: 2px solid transparent;
  border-radius: 15px 15px 15px 0;
  font-size: 1.1em;
  padding: 1em;
  color: var(--secondary);
  width: 100%;
  height: 80px;
  margin: 0.5em 0 0 0;
  resize: none;
  cursor: pointer;
  font-family: inherit;
}

.commentBox:focus {
  outline: none;
  border: 2px solid var(--secondary);
  color: var(--white);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);
  cursor: text;
}

.replyContainer .commentBox {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.replyContainer .commentBox:focus {
  outline: none;
  border: 2px solid var(--black);
  color: var(--black);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);
  cursor: text;
}

.replyToggleBtn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: var(--secondary);
  cursor: pointer;
  font-size: 0.9em;
  padding: 0;
}

.replyToggleBtn:hover {
  border-bottom: 2px solid var(--secondary);
}

.comment {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 1em;
}

.commentBtn {
  position: relative;
  left: 0;
  margin-top: 0.25em;
  margin-bottom: 1em;
  width: 100px;
  height: 40px;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
  outline: none;
  transition: 0.75s ease-in-out;
}

.replyContainer .commentBtn {
  height: 30px;
  font-size: 0.9em;
  color: var(--white);
  border: 1px solid var(--white);
}

.commentContainer svg,
.replyContainer svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--primary);
  stroke-width: 3;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.replyContainer svg {
  stroke: var(--white);
  stroke-width: 2;
}

.commentContainer > .commentBtn:after,
.replyContainer > .commentBtn:after {
  content: 'Submit';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 38px;
  color: var(--white);
  background-image: linear-gradient(
    252deg,
    var(--secondary) 0%,
    var(--primary) 60%
  );
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

.replyContainer > .commentBtn:after {
  line-height: 27px;
  color: var(--primary);
  background-color: var(--white);
}

@media only screen and (min-width: 1050px) {
  .postContainer {
    margin: 80px auto 0 auto;
  }
}

@media only screen and (max-width: 1049px) {
  .postContainer {
    margin: 80px 1em 0 1em;
  }
}

/* FORMS */

.centerScreen {
  height: 100vh;
  position: relative;
  background: var(--primary);
  background: radial-gradient(circle, var(--secondary) 0%, var(--primary) 100%);
}

.loginContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 600px;
  padding: 1em;
  border-radius: 15px;
  margin: 0;
  background-color: var(--white);
  box-shadow: 0px 8px 20px 15px rgba(0, 0, 0, 0.2);
}

.loginContainer a:link,
.loginContainer a:visited {
  color: var(--primary);
}

.loginContainer a:hover,
.loginContainer a:focus {
  color: var(--secondary);
}

.formTitle {
  text-align: center;
  margin: 0.4em 0;
  color: var(--black);
}

.fieldError {
  display: inline-block;
  position: relative;
  top: 10px;
  padding: 0.25em;
  margin-bottom: 0.3em;
  color: var(--white);
  border: 2px solid var(--red);
  background-color: rgba(var(--red-rgb), 0.6);
  font-weight: bold;
}

.swapLogin p {
  text-align: right;
}

.formGroup {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.formGroup.textField {
  margin-top: 20px;
}

.formField {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--grey);
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
}

.formField.textField {
  border: 3px solid var(--grey);
  resize: none;
  padding: 0.25em;
  height: 50px;
  box-sizing: border-box;
  font-size: 1em;
  overflow: hidden;
  font-family: inherit;
}

.formField::placeholder {
  color: transparent;
}

.formField:placeholder-shown ~ .formLabel {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.formField.textField:placeholder-shown ~ .formLabel.textField {
  top: 20px;
  padding-left: 5px;
}

.formLabel {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--grey);
}

.formLabel.textField {
  top: -17px;
}

.formField:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: radial-gradient(
    circle,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  border-image-slice: 1;
}

.formField.textField:focus {
  padding-left: 5px;
  font-weight: normal;
}

.formField:focus ~ .formLabel {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary);
  font-weight: 700;
}

.formField.textField:focus ~ .formLabel.textField {
  top: -17px;
  padding: 0;
}

.formField:required,
.formField:invalid {
  box-shadow: none;
}

.btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1em;
  width: 180px;
  height: 60px;
  font-size: 1.5em;
  font-weight: 100;
  cursor: pointer;
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
  outline: none;
  transition: 0.75s ease-in-out;
}

.login svg,
.register svg,
.newPost svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--primary);
  stroke-width: 3;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.75s ease-in-out;
}

.btn:hover,
.btn:focus,
.commentBtn:hover,
.commentBtn:focus {
  transition: 0.75s ease-in-out;
  color: var(--white);
}

.btn:hover svg,
.btn:focus svg,
.commentBtn:focus svg,
.commentBtn:hover svg {
  stroke-dashoffset: -480;
}

.register > .btn:after {
  content: 'Register';
}

.login > .btn:after {
  content: 'Login';
}

.newPost > .btn:after {
  content: 'Post';
}

.btn:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 58px;
  color: var(--white);
  background-image: linear-gradient(
    252deg,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

.btn:hover:after,
.btn:focus:after,
.commentBtn:hover:after,
.commentBtn:focus:after {
  opacity: 1;
}

@media only screen and (max-height: 810px) {
  .loginContainer {
    top: 70px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* Alert Modal */
#alertModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.alertContent {
  position: relative;
  margin: auto;
  padding: 20px;
  color: var(--white);
  border: 4px solid var(--white);
  background-color: rgba(var(--red-rgb), 0.9);
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-size: 1.15em;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  position: relative;
  color: var(--white);
  float: right;
  top: -20px;
  font-size: 36px;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close:hover,
.close:focus {
  color: var(--red);
  -webkit-text-stroke: 2px var(--white);
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* 404 NOT FOUND */

.errorNotFound {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  max-width: 650px;
  border-radius: 15px;
  padding: 1em;
  background-color: var(--light-grey);
}

.errorNotFound :is(h1, p) {
  margin: 0;
}

.errorNotFound h1 {
  color: var(--primary);
  font-size: 3em;
}

.errorNotFound p {
  font-size: 2em;
}

.errorNotFound a:link,
.errorNotFound a:visited {
  display: block;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.5em;
  padding: 1em;
  margin: 1em;
  border: 2px solid transparent;
  transition: 0.5s ease;
}

.errorNotFound a:link:hover,
.errorNotFound a:visited:hover {
  color: var(--primary);
  background-color: var(--white);
  border: 2px solid var(--primary);
}
